**.DS_Store
**/*.terraform
*.tfvars
*.tfstate*
.vscode

**/.terraform.lock.hcl
*.log
*.OLD
*.pdf
**.terraform.lock.hcl
**/.terratest
**/kubeconfig
**/TerraformSettings.json
**/.test-data
secrets.*
adminuser_rsa
**/*.key
